<template name="LoginPage">
  <form class="ui form" id="login-form">
    <div class="field">
      <label>Nazwa użytkownika</label>
      <input type="text" name="username" placeholder="Twoja nazwa użytkownika">
    </div>
    <div class="field">
      <label>Hasło</label>
      <input type="password" name="password" placeholder="Wpisz swoje hasło">
    </div>
    <button class="ui button green" type="submit">Zaloguj</button>
  </form>
</template>
