<template name="matchPage">
  <h1>Nazwa meczu: {{match.name}}</h1>
  <div class="ui list">
    <div class="item">
      Data meczu:
      {{#unless match.date}}
        <i>brak</i>
      {{/unless}}
      <b>{{match.date}}</b></div>
    <div class="item">
      Godzina rozpoczęcia:
      {{#unless match.hour}}
        <i>brak</i>
      {{/unless}}
      <b>{{match.hour}}</b>
    </div>
    <div class="item">
      Miejsce spotkania:
      {{#unless match.place}}
        <i>brak</i>
      {{/unless}}
      <b>{{match.place}}</b>
    </div>
    <div class="item">
      Drużyna:
      <b>{{team}}</b>
    </div>
  </div>

  <div class="ui two statistics">
    <div class="statistic">
      <div class="value">
        {{match.score.teamOne}}
      </div>
      <div class="label">
        Drużyna 1
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{match.score.teamTwo}}
      </div>
      <div class="label">
        Drużyna 2
      </div>
    </div>
  </div>

  <div class="ui centered grid" style="margin-top: 20px">
    <div class="four column centered row">
      <div class="column">
        <button
          id="hit"
          class="massive positive ui button"
        >
          Trafiłem
        </button>
      </div>

      <div class="column">
        <button
          id="hitted"
          class="massive negative ui button"
        >
          Zostałem trafiony
        </button>
      </div>
    </div>

  </div>

  <table class="ui celled table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Drużyna</th>
      <th>Wynik</th>
      <th>Razem</th>
    </tr>
  </thead>
  <tbody>
    {{#each match.players}}
      {{> matchPlayer}}
    {{/each}}
  </tbody>
</table>
</template>
