<template name="RegisterPage">
  {{#if registerSuccess}}
    <div class="ui success message">
      <div class="header">
        Konto zostało utworzone
      </div>
      <p>Zostałeś zalogowany automatycznie, możesz teraz przejść do <a href="/">strony głównej</a>.</p>
    </div>
  {{/if}}

  {{#if registerError}}
    <div class="ui negative message">
      <div class="header">
        Konto nie zostało utworzone
      </div>
      <p>Upewnij się, czy wszystkie pola zostały wypełnione poprawnie.</p>
    </div>
  {{/if}}

  <form class="ui form register">
    <div class="field">
      <label>Nazwa użytkownika</label>
      <input type="text" name="username" placeholder="Twoja nazwa użytkownika">
    </div>
    <div class="field">
      <label>Hasło</label>
      <input type="password" name="password" placeholder="Wpisz swoje hasło">
    </div>
    <button class="ui button green" type="submit">Zarejestruj</button>
  </form>
</template>
