<template name="scorePage">
  <h1>Tabela wyników</h1>

  <table class="ui celled table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Wynik</th>
      <th>Razem</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{username}}
        </td>
        <td>
          {{hits}}
          -
          {{deads}}
        </td>
        <td>
          {{score}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</template>
