<template name="matches">
  <div class="ui piled segment">
    <h4 class="ui header">Nadchodzące mecze</h4>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Data</th>
          <th>Godzina</th>
          <th>Dołącz</th>
        </tr>
      </thead>
      <tbody>
        {{#each matches}}
          <tr>
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td>{{hour}}</td>
            <td><a href="/match/{{_id}}" id="join-match" class="blue ui button">Dołącz</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
