<template name="MainLayout">
  <div class="ui container">
    <div class="ui menu">
      <a href="/" class="item">Strona główna</a>
      <a href="/scores" class="item">Tabela wyników</a>
      <div class="right menu">
        {{#if currentUser}}
          {{#unless isInRole 'admin'}}
            <a href="/admin/dashboard" class="item">Panel administracyjny</a>
          {{/unless}}
          <a id="logout" class="item">Wyloguj</a>
        {{else}}
          <div class="item">
            <a href="/register" class="ui primary button">Rejestracja</a>
          </div>
          <div class="item">
            <a href="/login" class="ui button">Zaloguj</a>
          </div>
        {{/if}}
      </div>
    </div>

    <main>
      {{>Template.dynamic template=content}}
    </main>
  </div>
</template>
