<template name="AddMatchPage">
  {{#if addMatchSuccess}}
    <div class="ui success message">
      <div class="header">
        Mecz został dodany
      </div>
      <p>Nowy mecz został dodany poprawnie.</p>
    </div>
  {{/if}}

  {{#if addMatchError}}
    <div class="ui negative message">
      <div class="header">
        Mecz nie został dodany
      </div>
      <p>Nowy mecz nie mógł zostać dodany.</p>
    </div>
  {{/if}}

  <div class="ui grid">
    <div class="sixteen wide column">
      <form class="ui form" id="add-match">
        <div class="fields">

        <div class="four wide field">
          <label>Nazwa</label>
          <input type="text" name="name" placeholder="Nazwa meczu" />
        </div>
        <div class="four wide field">
          <label>Data meczu</label>
          <input type="date" name="date" placeholder="Data meczu" />
        </div>
        <div class="four wide field">
          <label>Godzina</label>
          <input type="text" name="hour" placeholder="Godzina rozpoczęcia" />
        </div>
        <div class="four wide field">
          <label>Miejsce</label>
          <input type="text" name="place" placeholder="Miejsce spotkania" />
        </div>
      </div>

      <button type="submit" class="fluid ui button positive">Dodaj nowy mecz</button>

      </form>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="tag icon"></i>
      Drużyny
    </h4>

    <div class="eight wide column">
      <h4 class="ui header">Drużyna 1</h4>

      <div class="ui grid" style="margin-bottom: 20px;">
        <div class="fourteen wide column">
          <div class="ui fluid selection dropdown" id="team-one-dropdown">
            <input type="hidden" name="user" id="team-one-player">
            <i class="dropdown icon"></i>
            <div class="default text">Wybierz gracza</div>
            <div class="menu">
              {{#each players}}
                {{> Player}}
              {{/each}}
            </div>
          </div>
        </div>
        <button class="positive ui button" id="add-player-1">Dodaj</button>
      </div>

      <table class="ui celled table">
        <thead>
          <tr>
            <th>Numer</th>
            <th>Nazwa użytkownika</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          {{#if teamOne}}
            {{#each teamOne}}
              <tr>
                <td>1</td>
                <td>{{username}}</td>
                <td><button id="remove-player-1" class="negative ui button">Usuń</button></td>
              </tr>
              {{/each}}
          {{else}}
            <tr>
              <td colspan="2" style="text-align: center; font-style: italic;">
                Brak graczy w drużynie pierwszej
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>

    <div class="eight wide column">
      <h4 class="ui header">Drużyna 2</h4>

      <div class="ui grid" style="margin-bottom: 20px;">
        <div class="fourteen wide column">
          <div class="ui fluid selection dropdown" id="team-two-dropdown">
            <input type="hidden" name="user" id="team-two-player">
            <i class="dropdown icon"></i>
            <div class="default text">Wybierz gracza</div>
            <div class="menu">
              {{#each players}}
                {{> Player}}
              {{/each}}
            </div>
          </div>
        </div>
        <button class="positive ui button" id="add-player-2">Dodaj</button>
      </div>

      <table class="ui celled table">
        <thead>
          <tr>
            <th>Numer</th>
            <th>Nazwa użytkownika</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          {{#if teamTwo}}
            {{#each teamTwo}}
              <tr>
                <td>1</td>
                <td>{{username}}</td>
                <td><button id="remove-player-2" class="negative ui button">Usuń</button></td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="2" style="text-align: center; font-style: italic;">
                Brak graczy w drużynie drugiej
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $('#team-one-dropdown').dropdown();
    $('#team-two-dropdown').dropdown();
  </script>
</template>
