<template name="addUserPage">
  <form class="ui form" id="add-user">
    <div class="fields">

    <div class="four wide field">
      <label>Nazwa użytkownika</label>
      <input type="text" name="username" placeholder="Nazwa użytkownika" />
    </div>
    <div class="four wide field">
      <label>Hasło</label>
      <input type="password" name="password" placeholder="Hasło" />
    </div>
  </div>

  <button type="submit" class="fluid ui button positive">Dodaj nowego użytkownika</button>
  </form>
</template>
