<template name="DashboardPage">
  <a href="/admin/add-match" class="ui primary button">Dodaj mecz</a>
  <a href="/admin/add-user" class="ui primary button">Dodaj użytkownika</a>

  <div class="ui grid" style="margin-top: 20px">
    <div class="eight wide column">
      {{> matchesAdmin}}
    </div>

    <div class="eight wide column">
      {{> users}}
    </div>
  </div>
</template>
