<template name="matchesAdmin">
  <div class="ui piled segment">
    <h4 class="ui header">Mecze</h4>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Data</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        {{#each matches}}
          <tr>
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td><button id="remove-match" class="ui button negative">Usuń</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
