<template name="users">
  <div class="ui piled segment">
    <h4 class="ui header">Użytkownicy</h4>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Dołaczył</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{username}}</td>
            <td>{{createdAt}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
